
:host {
  display: block;
}

.credit-calculator {
  display: flex;
  flex-direction: column;
  gap: 16px;
  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  div {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}
