:host {
  display: flex;
  gap: 1.2rem;
  min-inline-size: 40.625rem;
}

.money {
  background: #ffdd2d;
  color: #333;
}

.microsoft {
  padding: 0.75rem;
  background: var(--tui-background-base-alt);
  block-size: 8rem;
  inline-size: 8rem;
  width: 300px;
  height: 300px;
  gap: 10px;

  [tuiSubtitle] {
    color: #00b92d;
  }

  tui-badge {
    position: absolute;
    top: 80%;
    left: 20px;
  }

  img {
    border-radius: 10px;
  }
}
